[Desktop Entry]
Type=Application
Name=SavvyCAN
GenericName=CANBus reverse engineering tool
Comment=Facilitates reverse engineering of canbus captures
Exec=<DIR>/SavvyCAN
Icon=<DIR>/icons/SavvyIcon.png
Terminal=false
Categories=Development;Electronics;IDE;
MimeType=text/x-application;
Keywords=embedded electronics;electronics;canbus;reverse engineering;
