[Desktop Entry]
Type=Application
Name=SavvyCAN
Name[pt_BR]=SavvyCAN
GenericName=CANBus reverse engineering tool
GenericName[pt_BR]=Ferramenta Rede CAN de engenharia reversa
Comment=Facilitates reverse engineering of canbus captures
Comment[pt_BR]=Facilitar engenharia reversa de capturas de Rede CAN
Exec=SavvyCAN
Icon=SavvyCAN
Terminal=false
Categories=Development;Electronics;IDE;
MimeType=text/x-application;
Keywords=embedded electronics;electronics;canbus;reverse engineering;
Keywords[pt_BR]=eletronica embarcada;eletronicos;canbus;engenharia reversa;
